*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Comunes*/
.text_center{text-align: center;}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.yllw{color: yellow;}

.medi{
    font-size: 20px;
}

/*general*/
body{
    background-color: rgb(242, 172, 41);
position:relative;
min-height: 100vh;
padding-bottom: 14px;
}

/*main*/
main{padding-bottom: 10vh;}

.Titulo{
    color: rgb(0, 0, 0);
}

.div-img {
    display: flex;
    justify-content: center;
}

.main_contain{
    min-height: 80vh;
}

.main_text{
    display: inline-block;
    vertical-align: top;
}

.grid-cont{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.gremio_img{
    width: 700px;
    height: 400px;
}

.gremio_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*pagina de investigaciones*/

/*main*/
main .inv{
    width: 100%;
    height: 450px;
    background-image: url(./image/descarga.jfif);
    background-size: cover;
    background-position: center;
}

.investigaciones{
    width: 100%;
    min-height: 200px;
    background-color: (255, 193, 7);
}

.nleft{
    height: 350px;
    width: 100%;
    background-image: url(./image/caceria.jpg);
    background-size: cover;
    background-position: center;
}
.nrigth{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}

h3{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.nrigth a{
    background-color: rgb(0, 123, 255);
    color: rgb(255, 193, 7);
    padding: 10px 20px;
    text-decoration: none;
}

.nrigth p{
    margin-bottom: 20px;
}

h2 .inves{
    text-align: center;
    padding: 20px;
}

.invest{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}

/*lista investigaciones*/
.item img{
    width: 100%;
    height: auto;
}
.item{
    text-align: center;
}


/*footer general*/
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}

@media only screen and (min-width:320px){

    .investigaciones{
            display: grid;
        }
}

@media only screen and (max-width:600px){
    .grid-cont{
        height: 23vh;
        margin-bottom: 20px;
    }

    .gremio_img{
        width: 300px;
        height: 170px;
    }

    .item{
        grid-template-columns: repeat(2, 1fr);
    }
}